<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />-->
        <style>
            .wapper{
                width: 800px;
                height: 250px;
                margin:80px auto;
                display: flex;
            }
            .wapper>div{
                height: 200px;
                width: 200px;
                margin-right: 50px;
                background-color: #dddddd;
            }

        </style>
    </head>
    <body>
        <div class="wapper">
            <div id="deptMange">
                <a href="/dept/viewDepartment">部门设置</a>
            </div>
            <div id="postMange">
                <a href="/post/viewPost">职位设置</a>
            </div>
            <div id="deptChart">
                <a>部门图表</a>
            </div>
        </div>
    </body>

</html>
